USE [master]
GO
/****** Object:  Database [RooiTea_Farming]    Script Date: 2026/02/24 11:08:30 ******/
CREATE DATABASE [RooiTea_Farming]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RooiTea_Farming', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RooiTea_Farming.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RooiTea_Farming_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RooiTea_Farming_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RooiTea_Farming].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RooiTea_Farming]
GO
/****** Object:  Table [dbo].[Farm]    Script Date: 2026/02/24 11:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farm](
	[FarmID] [int] NOT NULL,
	[FarmName] [varchar](100) NULL,
	[Region] [varchar](100) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[FarmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HarvestBatch]    Script Date: 2026/02/24 11:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HarvestBatch](
	[BatchNumber] [varchar](20) NOT NULL,
	[FarmID] [int] NULL,
	[HarvestDate] [date] NULL,
	[QuantityKg] [int] NULL,
	[QualityGrade] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Farm] ([FarmID], [FarmName], [Region], [Latitude], [Longitude]) VALUES (1, N'Cederberg North Farm', N'Clanwilliam', CAST(-32.181000 AS Decimal(9, 6)), CAST(18.889000 AS Decimal(9, 6)))
INSERT [dbo].[Farm] ([FarmID], [FarmName], [Region], [Latitude], [Longitude]) VALUES (2, N'Rooibos Valley', N'Clanwilliam', CAST(-32.185000 AS Decimal(9, 6)), CAST(18.901000 AS Decimal(9, 6)))
INSERT [dbo].[Farm] ([FarmID], [FarmName], [Region], [Latitude], [Longitude]) VALUES (3, N'Red Mountain Estate', N'Clanwilliam', CAST(-32.192000 AS Decimal(9, 6)), CAST(18.910000 AS Decimal(9, 6)))
GO
INSERT [dbo].[HarvestBatch] ([BatchNumber], [FarmID], [HarvestDate], [QuantityKg], [QualityGrade]) VALUES (N'B201801011', 1, CAST(N'2018-01-01' AS Date), 1000, N'Standard')
INSERT [dbo].[HarvestBatch] ([BatchNumber], [FarmID], [HarvestDate], [QuantityKg], [QualityGrade]) VALUES (N'B201801012', 2, CAST(N'2018-01-01' AS Date), 1000, N'Premium')
INSERT [dbo].[HarvestBatch] ([BatchNumber], [FarmID], [HarvestDate], [QuantityKg], [QualityGrade]) VALUES (N'B201801013', 3, CAST(N'2018-01-01' AS Date), 1000, N'Standard')
GO
ALTER TABLE [dbo].[HarvestBatch]  WITH CHECK ADD FOREIGN KEY([FarmID])
REFERENCES [dbo].[Farm] ([FarmID])
GO
USE [master]
GO
