USE [RooiTeaDW]
GO
/****** Object:  Table [dbo].[DimBatch]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBatch](
	[BatchKey] [int] IDENTITY(1,1) NOT NULL,
	[BatchCode] [varchar](30) NOT NULL,
	[BatchIdentifier] [varchar](50) NULL,
	[QualityGradeKey] [int] NOT NULL,
	[HarvestDateKey] [int] NOT NULL,
	[FarmKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimBatch_BatchCode] UNIQUE NONCLUSTERED 
(
	[BatchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCountry]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCountry](
	[CountryKey] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](10) NULL,
	[CountryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimCountry_CountryName] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCurrency]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCurrency](
	[CurrencyKey] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyCode] [varchar](10) NOT NULL,
	[CurrencyName] [varchar](50) NOT NULL,
	[CurrencySymbol] [varchar](10) NULL,
	[MarketTypeKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CurrencyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimCurrency] UNIQUE NONCLUSTERED 
(
	[CurrencyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](30) NOT NULL,
	[CustomerName] [varchar](150) NOT NULL,
	[MarketSegmentKey] [int] NOT NULL,
	[DestinationCountryKey] [int] NULL,
	[CustomerCity] [varchar](100) NULL,
	[CustomerStatus] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimCustomer] UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[DayNumberOfMonth] [tinyint] NOT NULL,
	[MonthNumber] [tinyint] NOT NULL,
	[MonthName] [varchar](20) NOT NULL,
	[QuarterNumber] [tinyint] NOT NULL,
	[YearNumber] [smallint] NOT NULL,
	[FinancialYear] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FullDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDestinationCountry]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDestinationCountry](
	[DestinationCountryKey] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](10) NULL,
	[CountryName] [varchar](100) NOT NULL,
	[MarketTypeKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DestinationCountryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimDestinationCountry] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC,
	[MarketTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDistributionCentre]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDistributionCentre](
	[DistributionCentreKey] [int] IDENTITY(1,1) NOT NULL,
	[CentreCode] [varchar](20) NOT NULL,
	[CentreName] [varchar](100) NOT NULL,
	[City] [varchar](100) NULL,
	[DestinationCountryKey] [int] NOT NULL,
	[TransportMode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DistributionCentreKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimDistributionCentre] UNIQUE NONCLUSTERED 
(
	[CentreCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimExchangeRate]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimExchangeRate](
	[ExchangeRateKey] [int] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[CurrencyKey] [int] NOT NULL,
	[ExchangeRateToZAR] [decimal](18, 6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExchangeRateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimExchangeRate] UNIQUE NONCLUSTERED 
(
	[DateKey] ASC,
	[CurrencyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimFarm]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimFarm](
	[FarmKey] [int] IDENTITY(1,1) NOT NULL,
	[FarmCode] [varchar](20) NOT NULL,
	[FarmName] [varchar](150) NOT NULL,
	[RegionKey] [int] NOT NULL,
	[FarmLocation] [varchar](150) NULL,
	[ActiveFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FarmKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimFarm_FarmCode] UNIQUE NONCLUSTERED 
(
	[FarmCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMarketSegment]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMarketSegment](
	[MarketSegmentKey] [int] IDENTITY(1,1) NOT NULL,
	[MarketSegmentCode] [varchar](20) NOT NULL,
	[MarketSegmentName] [varchar](100) NOT NULL,
	[MarketTypeKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MarketSegmentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimMarketSegment] UNIQUE NONCLUSTERED 
(
	[MarketSegmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMarketType]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMarketType](
	[MarketTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[MarketTypeCode] [varchar](20) NOT NULL,
	[MarketTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MarketTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimMarketType] UNIQUE NONCLUSTERED 
(
	[MarketTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](30) NOT NULL,
	[ProductName] [varchar](150) NOT NULL,
	[ProductTypeKey] [int] NOT NULL,
	[PackagingType] [varchar](50) NULL,
	[UnitSize] [varchar](50) NULL,
	[StandardUnitPriceZAR] [decimal](18, 2) NULL,
	[ActiveFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimProduct_ProductCode] UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProductCategory]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProductCategory](
	[ProductCategoryKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryCode] [varchar](20) NOT NULL,
	[ProductCategoryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimProductCategory] UNIQUE NONCLUSTERED 
(
	[ProductCategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProductType]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProductType](
	[ProductTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeCode] [varchar](20) NOT NULL,
	[ProductTypeName] [varchar](100) NOT NULL,
	[ProductCategoryKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimProductType] UNIQUE NONCLUSTERED 
(
	[ProductTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProvince]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProvince](
	[ProvinceKey] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceCode] [varchar](10) NULL,
	[ProvinceName] [varchar](100) NOT NULL,
	[CountryKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimProvince] UNIQUE NONCLUSTERED 
(
	[ProvinceName] ASC,
	[CountryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimQualityClass]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimQualityClass](
	[QualityClassKey] [int] IDENTITY(1,1) NOT NULL,
	[QualityClassCode] [varchar](20) NOT NULL,
	[QualityClassName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QualityClassKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimQualityClass] UNIQUE NONCLUSTERED 
(
	[QualityClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimQualityGrade]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimQualityGrade](
	[QualityGradeKey] [int] IDENTITY(1,1) NOT NULL,
	[QualityGradeCode] [varchar](20) NOT NULL,
	[QualityGradeName] [varchar](100) NOT NULL,
	[QualityClassKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QualityGradeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimQualityGrade] UNIQUE NONCLUSTERED 
(
	[QualityGradeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRegion]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRegion](
	[RegionKey] [int] IDENTITY(1,1) NOT NULL,
	[RegionCode] [varchar](10) NULL,
	[RegionName] [varchar](100) NOT NULL,
	[ProvinceKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimRegion] UNIQUE NONCLUSTERED 
(
	[RegionName] ASC,
	[ProvinceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactInventory]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactInventory](
	[InventoryFactKey] [bigint] IDENTITY(1,1) NOT NULL,
	[InventoryDateKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[BatchKey] [int] NULL,
	[DistributionCentreKey] [int] NULL,
	[InventoryQuantity] [decimal](18, 2) NOT NULL,
	[BackorderQuantity] [decimal](18, 2) NOT NULL,
	[InventoryValueZAR] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryFactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactProduction]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactProduction](
	[ProductionFactKey] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductionDateKey] [int] NOT NULL,
	[BatchKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[FarmKey] [int] NOT NULL,
	[DistributionCentreKey] [int] NULL,
	[HarvestQuantityKg] [decimal](18, 2) NOT NULL,
	[ProcessedQuantityKg] [decimal](18, 2) NOT NULL,
	[ProcessingYieldPct] [decimal](9, 4) NULL,
	[ProductionRunCount] [int] NOT NULL,
	[ElapsedProcessingHours] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductionFactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 2026/04/21 13:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[SalesFactKey] [bigint] IDENTITY(1,1) NOT NULL,
	[SalesDateKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[CurrencyKey] [int] NOT NULL,
	[ExchangeRateKey] [int] NOT NULL,
	[DestinationCountryKey] [int] NULL,
	[MarketTypeKey] [int] NOT NULL,
	[DistributionCentreKey] [int] NULL,
	[BatchKey] [int] NULL,
	[UnitsSold] [decimal](18, 2) NOT NULL,
	[SalesValueZAR] [decimal](18, 2) NOT NULL,
	[SalesValueForeign] [decimal](18, 2) NULL,
	[ShipmentCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesFactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimFarm] ADD  DEFAULT ((1)) FOR [ActiveFlag]
GO
ALTER TABLE [dbo].[DimProduct] ADD  DEFAULT ((1)) FOR [ActiveFlag]
GO
ALTER TABLE [dbo].[FactInventory] ADD  DEFAULT ((0)) FOR [InventoryQuantity]
GO
ALTER TABLE [dbo].[FactInventory] ADD  DEFAULT ((0)) FOR [BackorderQuantity]
GO
ALTER TABLE [dbo].[FactProduction] ADD  DEFAULT ((0)) FOR [HarvestQuantityKg]
GO
ALTER TABLE [dbo].[FactProduction] ADD  DEFAULT ((0)) FOR [ProcessedQuantityKg]
GO
ALTER TABLE [dbo].[FactProduction] ADD  DEFAULT ((0)) FOR [ProductionRunCount]
GO
ALTER TABLE [dbo].[FactSales] ADD  DEFAULT ((0)) FOR [UnitsSold]
GO
ALTER TABLE [dbo].[FactSales] ADD  DEFAULT ((0)) FOR [SalesValueZAR]
GO
ALTER TABLE [dbo].[FactSales] ADD  DEFAULT ((0)) FOR [ShipmentCount]
GO
ALTER TABLE [dbo].[DimBatch]  WITH CHECK ADD  CONSTRAINT [FK_DimBatch_DimDate] FOREIGN KEY([HarvestDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[DimBatch] CHECK CONSTRAINT [FK_DimBatch_DimDate]
GO
ALTER TABLE [dbo].[DimBatch]  WITH CHECK ADD  CONSTRAINT [FK_DimBatch_DimFarm] FOREIGN KEY([FarmKey])
REFERENCES [dbo].[DimFarm] ([FarmKey])
GO
ALTER TABLE [dbo].[DimBatch] CHECK CONSTRAINT [FK_DimBatch_DimFarm]
GO
ALTER TABLE [dbo].[DimBatch]  WITH CHECK ADD  CONSTRAINT [FK_DimBatch_DimQualityGrade] FOREIGN KEY([QualityGradeKey])
REFERENCES [dbo].[DimQualityGrade] ([QualityGradeKey])
GO
ALTER TABLE [dbo].[DimBatch] CHECK CONSTRAINT [FK_DimBatch_DimQualityGrade]
GO
ALTER TABLE [dbo].[DimCurrency]  WITH CHECK ADD  CONSTRAINT [FK_DimCurrency_DimMarketType] FOREIGN KEY([MarketTypeKey])
REFERENCES [dbo].[DimMarketType] ([MarketTypeKey])
GO
ALTER TABLE [dbo].[DimCurrency] CHECK CONSTRAINT [FK_DimCurrency_DimMarketType]
GO
ALTER TABLE [dbo].[DimCustomer]  WITH CHECK ADD  CONSTRAINT [FK_DimCustomer_DimDestinationCountry] FOREIGN KEY([DestinationCountryKey])
REFERENCES [dbo].[DimDestinationCountry] ([DestinationCountryKey])
GO
ALTER TABLE [dbo].[DimCustomer] CHECK CONSTRAINT [FK_DimCustomer_DimDestinationCountry]
GO
ALTER TABLE [dbo].[DimCustomer]  WITH CHECK ADD  CONSTRAINT [FK_DimCustomer_DimMarketSegment] FOREIGN KEY([MarketSegmentKey])
REFERENCES [dbo].[DimMarketSegment] ([MarketSegmentKey])
GO
ALTER TABLE [dbo].[DimCustomer] CHECK CONSTRAINT [FK_DimCustomer_DimMarketSegment]
GO
ALTER TABLE [dbo].[DimDestinationCountry]  WITH CHECK ADD  CONSTRAINT [FK_DimDestinationCountry_DimMarketType] FOREIGN KEY([MarketTypeKey])
REFERENCES [dbo].[DimMarketType] ([MarketTypeKey])
GO
ALTER TABLE [dbo].[DimDestinationCountry] CHECK CONSTRAINT [FK_DimDestinationCountry_DimMarketType]
GO
ALTER TABLE [dbo].[DimDistributionCentre]  WITH CHECK ADD  CONSTRAINT [FK_DimDistributionCentre_DimDestinationCountry] FOREIGN KEY([DestinationCountryKey])
REFERENCES [dbo].[DimDestinationCountry] ([DestinationCountryKey])
GO
ALTER TABLE [dbo].[DimDistributionCentre] CHECK CONSTRAINT [FK_DimDistributionCentre_DimDestinationCountry]
GO
ALTER TABLE [dbo].[DimExchangeRate]  WITH CHECK ADD  CONSTRAINT [FK_DimExchangeRate_DimCurrency] FOREIGN KEY([CurrencyKey])
REFERENCES [dbo].[DimCurrency] ([CurrencyKey])
GO
ALTER TABLE [dbo].[DimExchangeRate] CHECK CONSTRAINT [FK_DimExchangeRate_DimCurrency]
GO
ALTER TABLE [dbo].[DimExchangeRate]  WITH CHECK ADD  CONSTRAINT [FK_DimExchangeRate_DimDate] FOREIGN KEY([DateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[DimExchangeRate] CHECK CONSTRAINT [FK_DimExchangeRate_DimDate]
GO
ALTER TABLE [dbo].[DimFarm]  WITH CHECK ADD  CONSTRAINT [FK_DimFarm_DimRegion] FOREIGN KEY([RegionKey])
REFERENCES [dbo].[DimRegion] ([RegionKey])
GO
ALTER TABLE [dbo].[DimFarm] CHECK CONSTRAINT [FK_DimFarm_DimRegion]
GO
ALTER TABLE [dbo].[DimMarketSegment]  WITH CHECK ADD  CONSTRAINT [FK_DimMarketSegment_DimMarketType] FOREIGN KEY([MarketTypeKey])
REFERENCES [dbo].[DimMarketType] ([MarketTypeKey])
GO
ALTER TABLE [dbo].[DimMarketSegment] CHECK CONSTRAINT [FK_DimMarketSegment_DimMarketType]
GO
ALTER TABLE [dbo].[DimProduct]  WITH CHECK ADD  CONSTRAINT [FK_DimProduct_DimProductType] FOREIGN KEY([ProductTypeKey])
REFERENCES [dbo].[DimProductType] ([ProductTypeKey])
GO
ALTER TABLE [dbo].[DimProduct] CHECK CONSTRAINT [FK_DimProduct_DimProductType]
GO
ALTER TABLE [dbo].[DimProductType]  WITH CHECK ADD  CONSTRAINT [FK_DimProductType_DimProductCategory] FOREIGN KEY([ProductCategoryKey])
REFERENCES [dbo].[DimProductCategory] ([ProductCategoryKey])
GO
ALTER TABLE [dbo].[DimProductType] CHECK CONSTRAINT [FK_DimProductType_DimProductCategory]
GO
ALTER TABLE [dbo].[DimProvince]  WITH CHECK ADD  CONSTRAINT [FK_DimProvince_DimCountry] FOREIGN KEY([CountryKey])
REFERENCES [dbo].[DimCountry] ([CountryKey])
GO
ALTER TABLE [dbo].[DimProvince] CHECK CONSTRAINT [FK_DimProvince_DimCountry]
GO
ALTER TABLE [dbo].[DimQualityGrade]  WITH CHECK ADD  CONSTRAINT [FK_DimQualityGrade_DimQualityClass] FOREIGN KEY([QualityClassKey])
REFERENCES [dbo].[DimQualityClass] ([QualityClassKey])
GO
ALTER TABLE [dbo].[DimQualityGrade] CHECK CONSTRAINT [FK_DimQualityGrade_DimQualityClass]
GO
ALTER TABLE [dbo].[DimRegion]  WITH CHECK ADD  CONSTRAINT [FK_DimRegion_DimProvince] FOREIGN KEY([ProvinceKey])
REFERENCES [dbo].[DimProvince] ([ProvinceKey])
GO
ALTER TABLE [dbo].[DimRegion] CHECK CONSTRAINT [FK_DimRegion_DimProvince]
GO
ALTER TABLE [dbo].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimBatch] FOREIGN KEY([BatchKey])
REFERENCES [dbo].[DimBatch] ([BatchKey])
GO
ALTER TABLE [dbo].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimBatch]
GO
ALTER TABLE [dbo].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimDate] FOREIGN KEY([InventoryDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimDate]
GO
ALTER TABLE [dbo].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimDistributionCentre] FOREIGN KEY([DistributionCentreKey])
REFERENCES [dbo].[DimDistributionCentre] ([DistributionCentreKey])
GO
ALTER TABLE [dbo].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimDistributionCentre]
GO
ALTER TABLE [dbo].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimProduct] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimProduct]
GO
ALTER TABLE [dbo].[FactProduction]  WITH CHECK ADD  CONSTRAINT [FK_FactProduction_DimBatch] FOREIGN KEY([BatchKey])
REFERENCES [dbo].[DimBatch] ([BatchKey])
GO
ALTER TABLE [dbo].[FactProduction] CHECK CONSTRAINT [FK_FactProduction_DimBatch]
GO
ALTER TABLE [dbo].[FactProduction]  WITH CHECK ADD  CONSTRAINT [FK_FactProduction_DimDate] FOREIGN KEY([ProductionDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactProduction] CHECK CONSTRAINT [FK_FactProduction_DimDate]
GO
ALTER TABLE [dbo].[FactProduction]  WITH CHECK ADD  CONSTRAINT [FK_FactProduction_DimDistributionCentre] FOREIGN KEY([DistributionCentreKey])
REFERENCES [dbo].[DimDistributionCentre] ([DistributionCentreKey])
GO
ALTER TABLE [dbo].[FactProduction] CHECK CONSTRAINT [FK_FactProduction_DimDistributionCentre]
GO
ALTER TABLE [dbo].[FactProduction]  WITH CHECK ADD  CONSTRAINT [FK_FactProduction_DimFarm] FOREIGN KEY([FarmKey])
REFERENCES [dbo].[DimFarm] ([FarmKey])
GO
ALTER TABLE [dbo].[FactProduction] CHECK CONSTRAINT [FK_FactProduction_DimFarm]
GO
ALTER TABLE [dbo].[FactProduction]  WITH CHECK ADD  CONSTRAINT [FK_FactProduction_DimProduct] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactProduction] CHECK CONSTRAINT [FK_FactProduction_DimProduct]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimBatch] FOREIGN KEY([BatchKey])
REFERENCES [dbo].[DimBatch] ([BatchKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimBatch]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimCurrency] FOREIGN KEY([CurrencyKey])
REFERENCES [dbo].[DimCurrency] ([CurrencyKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimCurrency]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimCustomer] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimCustomer]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimDate] FOREIGN KEY([SalesDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimDate]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimDestinationCountry] FOREIGN KEY([DestinationCountryKey])
REFERENCES [dbo].[DimDestinationCountry] ([DestinationCountryKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimDestinationCountry]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimDistributionCentre] FOREIGN KEY([DistributionCentreKey])
REFERENCES [dbo].[DimDistributionCentre] ([DistributionCentreKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimDistributionCentre]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimExchangeRate] FOREIGN KEY([ExchangeRateKey])
REFERENCES [dbo].[DimExchangeRate] ([ExchangeRateKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimExchangeRate]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimMarketType] FOREIGN KEY([MarketTypeKey])
REFERENCES [dbo].[DimMarketType] ([MarketTypeKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimMarketType]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimProduct] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimProduct]
GO
